@font-face {
    font-family: "Chicago";
    src: url("Chicago.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

.ErrorBox {
	font-family: "Chicago" !important;
	font-size: 75%;
	width: 420px;
	height: 100px;
	border: 2px solid black;
	display: block;
	padding-left: 30px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: white;
	position: fixed;
}

.ErrorIcon {
	height: 32px;
	width: 32px;
	float: left;
}

.ErrorTitle {
	display: inline-block;
	padding-left: 32px;
}

.ErrorBody {
	display: block;
	padding-left: 64px;
	clear: both;
	width: 75%;
}

.ErrorMessage {
	position: relative;
	padding-left: 15px;
}

.ErrorAction {
	font-family: "Chicago" !important;
	font-size: 100%;
	float: right;
	margin-top: 7px;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
	color: black;
	background-color: white;
}

.ErrorAction:hover {
	color: black;
	background-color: lightgrey;
}

.ErrorAction:active {
	color: white;
	background-color: black;
}